body {
    padding: 20px;
    color: #4e5dc6;
    font: 18px/1.5 sans-serif;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 20px;
    padding: 20px 15px;
    background-image: url("image/look.com.ua-269882.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    border: 1px solid #ae63e4;

}

button {
    padding: 10px 24px;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-weight: bold;
    background: #14192b;
    cursor: pointer;
}
button:hover{
    box-shadow: 0 0 20px 0 #14192b inset, 0 0 10px 4px #1e0434;
    color: #fff;
}