html {
    height: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    background: url("images/image.png");
}

#main-holder {
    width: 50%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0 0 5px 2px black;
    font-size: 30px;
    color: #231e1e;
}

#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

